@import "tailwindcss";

@theme {
  --color-primary: #2dd4bf;
  --color-primary-dark: #1fb9a5;
  --color-text: #fff;
  --color-text-sub: #fafafa;
  --color-app-bg: #000000;
}


html {
  scroll-behavior: smooth;
}

body{
  background: var(--color-app-bg);
}



/* handle scrollbar  */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #1e293b;
}
::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 4px;
  cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary-dark) ;
}